/* -------------------------------------------------------------------------- */
/*                                 Colors                                     */
/* -------------------------------------------------------------------------- */
:root {
  --primary-color: #303030;
  --secondary-color: #424242;

  --danger: #cb2127;

  --sucess: #21aa41;

  --blue: #3f51b5;

  --black: #000000;
  --black-two: #212121;

  --white: #fff;

  --gray: #d3d3d3;
  --dark-gray: #727272;
}

/* -------------------------------------------------------------------------- */
/*                                  defaults                                  */
/* -------------------------------------------------------------------------- */
$default_font-size: 1.6rem;
