.services {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  height: 15rem;
}

.thumbnails {
  background-color: transparent !important;
}
